name: Deploy Next.js to Vercel

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Deploy to Vercel
        run: npx vercel --prod --yes --token ${{ secrets.BODHSCRIPTCLUB}}
